# ==========================================
# ====== Fundamental
# ==========================================
POSTGRES_DB=relay
POSTGRES_TEST=testing

POSTGRES_USER=relay
POSTGRES_PASSWORD=relay

# ==========================================
# ====== Identity
# ==========================================
RUNNER_USER=runner
RUNNER_PASSWORD=runner

SAMPLER_USER=sampler
SAMPLER_PASSWORD=sampler